MINIO_ROOT_USER=test_test                                                                                               MINIO_ROOT_PASSWORD=test_test                                                                                           MINIO_BUCKET_NAME=test_bucket                                                                                           MINIO_PORT=9000                                                                                                                                                                                                                                 RUN_MODE=example
